/* Popup Base and Reference taken from: https://www.cluemediator.com/create-simple-popup-in-reactjs */
/* Popup style */
.popup-box {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
  }
   
  .box {
    position: relative;
    width: 45%;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    margin-top: calc(100vh - 60vh - 20px);
    background: linear-gradient(to right, #261bc2 , #1861ac);
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
  }
   
  .close-icon {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    content: 'x';
    cursor: pointer;
    position: fixed;
    right: calc(28.5% - 30px);
    top: calc(100vh - 60vh - 30px);
    background: #ededed;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 18px;
    text-align: center;
    border: 1px solid #999;
    font-size: 20px;
  }